<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    div.wrapper {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 22px;
    }
    input[type="text"] {
             position: relative;
             display: block;
             margin : 0 auto;
    }
    </style>
</head>
<body>
      <form action = "http://localhost:5000" method = "post">
          <div class="wrapper">
             <p>Enter Search Keyword:</p>
              <input type = "text" name = "nm" >
              <input type = "submit" value = "search" >
          </div>
      </form>
</body>
</html>