<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
    .center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
    </style>
</head>
<body>
      <form action = "http://localhost:5000" method = "post">
         <p style="align:center;">Enter Search Keyword:</p>
         <input type = "text" size="30" name = "nm" Style="align:center;">
         <input type = "submit" size="30" value = "submit" Style="align:center;">
      </form>
</body>
</html>